<section class="sidenav-content">
    <clr-tree>
        <clr-tree-node *ngFor="let admin0 of admins" [(clrExpanded)]="admin0.expanded">
            <button class="clr-treenode-link" [class.active]="admin0.active">
                    <clr-icon [attr.shape]="admin0.icon"></clr-icon>
                    {{admin0.name}}
            </button>
            <clr-tree-node *ngFor="let admin1 of admin0.admins" [(clrExpanded)]="admin1.expanded">
                <button class="clr-treenode-link" [class.active]="admin1.active">
                    <clr-icon [attr.shape]="admin1.icon"></clr-icon>
                    {{admin1.name}}
                </button>
                <clr-tree-node *ngFor="let admin2 of admin1.admins" [(clrExpanded)]="admin2.expanded">
                    <button class="clr-treenode-link" [class.active]="admin2.active">
                        <clr-icon [attr.shape]="admin2.icon"></clr-icon>
                        {{admin2.name}}
                    </button>
                    <clr-tree-node *ngFor="let admin3 of admin2.admins">
                        <button class="clr-treenode-link" [class.active]="admin3.active">
                            {{admin3.name}}
                        </button>
                    </clr-tree-node>
                </clr-tree-node>
            </clr-tree-node>
        </clr-tree-node>
    </clr-tree>
</section>